.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main h1 {
  font-size: 5rem;
  font-weight: 900;
  background-clip: text;
  font-style: normal;
  letter-spacing: -4.72px;
  line-height: 5rem;
  text-align: center;

  /* Effects */
  transition: all 0s ease 0s;
}

.header {
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
}

.about {
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  opacity: 0.7;
}

.about p {
  text-indent: 7rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.2;
  max-width: 70ch;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    justify-content: flex-start;
    padding: 6rem 3rem;
  }
  .about p {
    text-indent: 3rem;
  }
}
