.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.socialLink {
  color: rgba(104, 106, 114, 0.973);
  display: flex;
  padding: 4px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid transparent;
  background-color: transparent;
  transition: all 400ms ease;
}
.socialLink:hover {
  background-color: rgba(104, 106, 114, 0.295);
  border: 3px solid white;
  box-shadow: 0px 0px 5.3px rgba(255, 255, 255, 0.069),
    0px 0px 17.9px rgba(255, 255, 255, 0.101),
    0px 0px 80px rgba(255, 255, 255, 0.17);
  color: white;
}
